<h1 class="coffeeShops">Coffee shops near you</h1>

	<% coffeeShop.businesses.forEach(function(coffeeShop){ %>

		<div class="well">	

			<h1 class="name"> <%= coffeeShop.name %><img class="rating" src="<%= coffeeShop.rating_img_url_large %>"/>  </h1>

			<p class="address">Address:</br> <%= coffeeShop.location.display_address %></p>

			<p class="info">Phone Number: <%= coffeeShop.phone %> </p>

			<p class="info">Open/Closed <% if (coffeeShop.is_closed == false){ %>

				<span class="open">Open</span>

				<% } else { %>

					<span class="closed">Closed</span>

				<% } %>
			</p>

			<img class="coffeeImg" src="<%= coffeeShop.image_url %>"/>

			<h3 class="addCoffeeShop">ADD COFFEE SHOP TO YOUR FAVORITE'S PAGE AND VIEW IT ON A MAP</h3>

			<form class="favoriteForm" action="/favorites" method="POST" role="form">

					<input type="hidden" value="<%= coffeeShop.name %>" id="name" name="name">

					<input type="hidden" value="<%= coffeeShop.location.display_address %>" id="address" name="address">

					<input type="hidden" value="<%= coffeeShop.phone%>" id="phone" name="phone_number">

					<input type="hidden" value="<%= coffeeShop.is_closed %>" id="is_closed" name="is_closed">

					<input type="hidden" value="<%= coffeeShop.url %>" id="url" name="url">

					<input type="hidden" value="<%= coffeeShop.image_url %>" id="image_url" name="image_url">

					<input type="hidden" value="<%= coffeeShop.rating_img_url_large %>" name="rating_img_url_large">

					<input type="hidden" value="<%= coffeeShop.location.coordinate.latitude%>" name="lat">

					<input type="hidden" value="<%= coffeeShop.location.coordinate.longitude%>" name="lng">


					<button type="submit" class="addFavorite btn btn-primary">+ Favorite</button>

			</form>

		</div>



	<% }); %>


