<nav class="navbar navbar-default" role="navigation">

	<a class="titleFavorite navbar-brand" href="/favorites">Favorites</a>
	<a href="/users" class="homeBTN crossRotate">Search</a>
</nav>

<% favorites.forEach(function(favorites){ %>

	<div class="well">
		<h1 class="name">Name: <%= favorites.name  %> </h1>
		<p> <img src="<%= favorites.rating_img_url_large %>"/> </p>
		<p class="Address">- Address: <%= favorites.address%> </p>
		<p class="info">- Phone-Number: <%= favorites.phone_number%></p>
		<p class="yelp">- Yelp Page: <a href="<%= favorites.yelp_url %>" target="_blank"> <%= favorites.yelp_url %> </a> </p>
		<p class="info">- Open/Closed: <% if (favorites.is_closed == false){ %>

				<span class="open">Open</span>

				<% } else { %>

					<span class="closed">Closed</span>

				<% } %>
			</p>
		<p> <img src="<%= favorites.image_url %>"/></p>

		<a href="/showMap/<%= favorites.id %>" class="btn info-btn ">Show on map</a>
		
	</div>
	<% }) %>

<script>
    var markers = <%- JSON.stringify(favorites) %>;
</script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHAgZlw_Ju2QuBNf90fsdYxQKRIyUyxH4&callback=initMap">
  </script>
<script src="/js/script.js"></script>
